
    <div class=" align-text-bottom flex center navbar z-10 text-white text-center">
        <div class="ml-52 " >
            <img src="../../../assets/Logo-Saint-Vincent.png">
        </div>
        <a class="px-5 mt-14 pt-3 active:bg-activebg hover:bg-topHover" href="/accueil">Accueil</a>
        <a class="px-5 mt-14 pt-3 active:bg-activebg hover:bg-topHover"href="/partenariat">Partenariats</a>
        <a class="px-5 mt-14 pt-3 active:bg-activebg hover:bg-topHover"href="/a_propos_de_nous">A propos de nous</a>
        <a class="px-5 mt-14 pt-3 active:bg-activebg hover:bg-topHover"href="/billetterie">Billetterie</a>
        <a class="px-5 mt-14 pt-3 active:bg-activebg hover:bg-topHover"href="/contact">Contact</a>
    </div>    

