{% extends 'base.html.twig' %}

{% block body %}

    <div class=" static h-14 bg-topgrey">
        <div class="  bg-white h-28 w-60 ">
            <img src="../assets/Logo-Saint-Vincent.png">
        </div>
    </div>
    <div class=" z-20 pt-3 h-14 bg-topblue text-white text-center">
    
        <a class="mx-5 active:bg-activebg w-auto" href="#">Accueil</a>
        <a class="mx-5 active:bg-activebg"href="#">Partenariats</a>
        <a class="mx-5 active:bg-activebg"href="#">A propos de nous</a>
        <a class="mx-5 active:bg-activebg"href="#">Billetterie</a>
        <a class="mx-5 active:bg-activebg active:w-auto"href="#">Contact</a>
    </div>    
    

{% endblock body %}