<form method="post" action="{{ path('app_static_content_delete', {'id': static_content.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ static_content.id) }}">
    <button class="inline-flex justify-center bg-red-700 text-white p-2 rounded-lg border border-slate-300 hover:border-slate-400  max-w-min">Supprimer</button>
</form>
