<form method="post" action="{{ path('app_partnership_delete', {'id': partnership.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partnership.id) }}">
    <button class="inline-flex justify-center bg-blueHome text-white p-2 rounded-lg border border-slate-300 hover:border-slate-400  max-w-min">Supprimer</button>
</form>
