{% extends 'base.html.twig' %}

{% block title %}Edit StaticContent{% endblock %}

{% block body %}
    <h1 class="flex justify-center text-2xl my-5">Modifier le texte</h1>

    {{ include('static_content/_form.html.twig', {'button_label': 'Modifier'}) }}


{% endblock %}
