{% extends 'base.html.twig' %}

{% block title %}Ajouter texte{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau texte</h1>

    {{ include('static_content/_form.html.twig') }}

    <a href="{{ path('app_static_content_index') }}">retour à la liste</a>
{% endblock %}
