<div class="bg-slate-100 rounded-md w-64 my-2 mt-56">
    <h3 class="text-2xl text-center"> Menu Administrateur </h3>
    <div class="border-b border-black mb-7 mx-2"></div>
    <ul class="list-reset">
        <li>
            <a href="{{ path('app_offer_index') }}" class="bg-cyan-900 block p-4 text-grey-darker font-bold border-grey-lighter border-2 transform transition-transform duration-300 hover:translate-x-4"><span class="text-white">Gestion Offres</span></a>
        </li>
        <li>
            <a href="{{ path('app_partnership_index') }}" class="bg-cyan-900 block p-4 text-grey-darker font-bold border-grey-lighter border-2 transform transition-transform duration-300 hover:translate-x-4"><span class="text-white">Gestion Partenariats</span></a>
        </li>
        <li>
            <a href="{{ path('app_static_content_index') }}" class="bg-cyan-900 block p-4 text-grey-darker font-bold border-grey-lighter border-2 transform transition-transform duration-300 hover:translate-x-4"><span class="text-white">Gestion Zones de Texte</span></a>
        </li>
        <li>
            <a href="#" class="bg-cyan-900 block p-4 text-grey-darker font-bold border-grey-lighter border-2 transform transition-transform duration-300 hover:translate-x-4"><span class="text-white">Gestion Questionaires</span></a>
        </li>
        <li>
            <a href="{{ path('app_admin_index') }}" class="bg-cyan-900 block p-4 text-grey-darker font-bold border-grey-lighter border-2 transform transition-transform duration-300 hover:translate-x-4"><span class="text-white">Gestion Comptes Administrateurs</span></a>
        </li>
    </ul>
</div>