<div class="float-left p-20 max-w-sm">
    <h3 class="text-yellow-800 font-size-lg">Accès rapide</h3>
    <ul class="list-none">
        <li><span class="font-bold"> > </span> Par téléphone: <span class="text-blue-600"></span></li>
        <li><span class="font-bold"> > </span></li>
    </ul>
</div>