<div class="float-left p-20 max-w-sm flex flex-col gap-8">
    <div>
        <h3 class="text-yellow-800 text-lg mb-1">Accès rapide</h3>
        <ul class="list-none text-sm">
            <li><span class="font-bold"> > </span> <a href="#"> Offre Permanantes / Billeterie </a></li>
            <li><span class="font-bold"> > </span> <a href="#"> Nous Contacter </a></li>
        </ul>
    </div>
    <div>
        <h3 class="text-yellow-800 text-lg mb-1">Informations de Contact</h3>
        <ul class="list-none text-sm">
            <li><span class="font-bold"> > </span> Par téléphone: <span class="text-blue-600">+3303030303</span></li>
            <li><span class="font-bold"> > </span> Par email: <a href="mailto:cse@myceestvincent.fr" class="text-blue-600">cse@myceestvincent.fr</a></li>
            <li><span class="font-bold"> > </span> Au Lycée: <a href="https://goo.gl/maps/ywkb8v1x5nSnN4KRA" target="_blank" class="text-blue-600">Bureau du CSE (1er étage bâtiment Saint-Vincent)</a></li>
        </ul>
    </div>
    {% if partnerships is not empty %}
        <div>
            <h3 class="text-yellow-800 text-lg mb-1">Nos Partenaires</h3>
            
            <div class="slider overflow-hidden relative h-48 bg-gray-200 rounded-lg">
                <!--partie principale du carousel-->
                <div class="slider-inner flex flex-row flex-nowrap relative right-0 pt-12 px-8 transition-right duration-500">
                    {% for partnership in partnerships %}
                        <div class="slider-item flex-1 basis-full shrink-0 block h-26 mr-16">
                            <a class="box shadow-md flex flex-row items-center justify-center text-white bg-black rounded-lg w-auto max-h-28" href="{{ partnership.linkToWebsite }}">
                                {% if partnership.file.filePath is defined %}
                                    <img class="w-full" src="{{ partnership.file.filePath }}">
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
                
                <!--controls du carousel-->
                <div class="control flex absolute justify-between inset-x-px top-16">
                    <button id="prev" class="text-4xl"><span class="text-gray-600">&ltrif;</span></button>
                    <button id="next" class="text-4xl"><span class="text-gray-600">&rtrif;</span></button>
                </div>
            
                    <!--preview du carousel-->
                <div class="preview flex top-50% justify-center pt-2">
                    {% set ind = 1 %}
                    {% for partnership in partnerships %}
                        <button class="preview-item mx-1 w-3 h-3 hover:bg-gray-600 bg-gray-400 rounded-full" id="pitem{{ ind }}"></button>
                        {% set ind = ind + 1 %}
                    {% endfor %}
                </div>

            </div>
        </div>
    {% endif %}
    </div>
</div>
