<footer>
  <div class="bg-footerbg text-white inline-grid grid-cols-11 w-full py-5" >

     <div class="col-span-3 grid xl:grid-cols-3 lg:grid-cols-4">
        <img class="lg:col-start-2 xl:col-start-2 lg:col-span-3 xl:col-span-2 bg-white md:h-28 lg:h-25 xl:h-full p-1 mr-5" src="../assets/Logo-Saint-Vincent.png">
    </div>

    <div class="col-span-4">
        <h3 class="text-lg"><b>CSE Lycée Saint-Vincent</b></h3>
        <div class="grid grid-cols-5 mt-1">
            <a class="col-start-1 col-span-2" href="">> Partenariats</a>
            <a class="col-start-3 col-span-2" href="">> Billetterie</a>
            <a class="col-start-1 col-span-2" href="">> A propos de nous</a>
            <a class="col-start-3 col-span-2" href="">> Contact</a>
        </div>
    </div>
    <div class="col-span-3">
        <p><b>Inscrivez-vous aux offres</b></p>
        <p>Reçevez un email à chaque nouvelle offre sur le site internet.</p>
        <input class="rounded-lg px-2.5 py-1 text-black" type="email" placeholder="Saisissez-votre email">
        <button class="bg-white text-black rounded-lg px-2.5 py-1">S'inscrire</button>
    </div>

  </div>
</footer>