{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header/header.html.twig' %}
    <div class="bg-white font-bold h-full"> test </div>
    {% include 'footer/footer.html.twig' %}
{% endblock body %}